.App {
	background: linear-gradient(45deg, #485563, #29323c);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header {
	height: 4rem;
	width: 100%;
	border-bottom: 2px solid white;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	background: rgba(255, 255, 255, 0.3);
}
.logo {
	height: 3.5rem;
	width: 3.5rem;
	background-image: url("Pictures/logo.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.title {
	color: white;
	font-weight: bold;
	font-size: 2rem;
	margin-left: 1rem;
}
.messages {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	overflow: auto;
	flex: 1; /* makes this component as big as it can be in the left over space */
	padding: 1rem;
}
.message {
	color: white;
	background: black;
	padding: 0.5rem 1rem;
	margin: 1rem 0.2rem;
	border-radius: 0.3rem;
	position: relative; /*for caret*/
	min-height: 2rem;
	max-width: 45%; /*This will need to be changed for mobile*/
	overflow-wrap: break-word; /*unkown what this does*/
}

/*Makes the simple caret*/
.message::before {
	content: "";
	position: absolute;
	top: 0.6rem;
	left: -0.4rem;
	border-right: 0.6rem solid black;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;
}
